.linklistCategoryList {


	.linklistCategoryContainer {
		position: relative;
	}

	.categoryDepth1 {
		margin-top: @wcfGapMedium;
	}

	.linklistCategory {
		.categoryDepth2{
		&.linklistCategoryContainer > .linklistCategory {
				padding-left: 7px;
			}
		}

		.categoryDepth3 {
		&.linklistCategoryContainer > .linklistCategory {
				padding-left: 43px;
			}
		}
	}

	.categoryDepth2 {
		&.linklistCategoryContainer > .linklistCategory {
			padding-left: 43px;
		}

		header {
			padding-left: 43px;
		}
	}

	.categoryDepth3 {
		&.linklistCategoryContainer > .linklistCategory {
			padding-left: 79px;
		}

		header {
			padding-left: 79px;
		}
	}

	.tabularBox:not(.categoryDepth1) {
		border-width: 1px 0 0;
	}

	.linklistCategory {
		padding: @wcfGapSmall;
		padding-right: 25%;

		.transition(background, .1s);

		&:hover {
			background-color: @wcfContainerHoverBackgroundColor;
		}
	}

	.linklistCategoryNode1 {
		background-color: @wcfContainerBackgroundColor;
	}

	.linklistCategoryNode2 {
		background-color: @wcfContainerAccentBackgroundColor;
	}


	.icon {
		&.new{color: @wcfLinkHoverColor};
		color: @wcfLinkColor;
	}

	.linkStats {
		left: 75%;
		margin-top: 0px;
		position: absolute;
		top: 14px;
		width: 25%;
	}

}

.link .details > .buttonList > li > .button{
	position: absolute;
	right: 0px;
}
.linkDisabled {
	background-color: @wcfDisabledBackgroundColor !important;
}

#tplCategoryListIndex .content #dashboard .dashboardBox legend {
	display: none;
}

.linkBox256, .linkBox128{
	> :first-child { float: left; margin-right: @wcfGapMedium; margin-bottom: @wcfGapMedium;}
	> .linkText {text-align: justify;}
	> .linkTeaser {text-align: justify;}
}
