linkListCategoryList > li.tabularBox{
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}
.linklistCategoryList .linkListCategoryNodeTop {
    margin-top: 14px;
}
.linklistCategoryList .linklistCategoryContainer {
    position: relative;
}
.linklistCategoryList .linklistCategoryNode1 {
    background-color: @wcfContainerBackgroundColor;
}
.linklistCategoryList .linklistCategoryNode2 {
    background-color: @wcfContainerAccentBackgroundColor;
}
.linklistCategoryList .linklistCategory {
    padding: 7px 51% 7px 7px;
}
.linklistSubCategories {
    margin-top: 7px;
}