.linklistCategoryList {


	.linklistCategoryContainer {
		position: relative;
	}

	.categoryDepth1 {
		margin-top: @wcfGapMedium;
	}

	.linklistCategory {
		.categoryDepth2{
		&.linklistCategoryContainer > .linklistCategory {
				padding-left: 7px;
			}
		}

		.categoryDepth3 {
		&.linklistCategoryContainer > .linklistCategory {
				padding-left: 43px;
			}
		}
	}

	.categoryDepth2 {
		&.linklistCategoryContainer > .linklistCategory {
			padding-left: 43px;
		}

		header {
			padding-left: 43px;
		}
	}

	.categoryDepth3 {
		&.linklistCategoryContainer > .linklistCategory {
			padding-left: 79px;
		}

		header {
			padding-left: 79px;
		}
	}

	.tabularBox:not(.categoryDepth1) {
		border-width: 1px 0 0;
	}

	.linklistCategory {
		min-height: 44px;
		padding: @wcfGapSmall;
		padding-right: 51%;

		.transition(background, .1s);

		&:hover {
			background-color: @wcfContainerHoverBackgroundColor;
		}
	}

	.linklistCategoryNode1 {
		background-color: @wcfContainerBackgroundColor;
	}

	.linklistCategoryNode2 {
		background-color: @wcfContainerAccentBackgroundColor;
	}


	.icon {
		color: @wcfLinkColor;
	}
}



.linkDisabled {
	background-color: @wcfDisabledBackgroundColor !important;
}
.linkDeleted {
	background-color: @wcfDeletedBackgroundColor !important;
}
.linklist .details {
	margin-left: 165px;
}
.linklistLink:hover .linkNavigation{
	display: block !important;
}

.visitButton {
	font-size: 100% !important;
}

#tplCategoryListIndex .content #dashboard .dashboardBox legend {
	display: none;
}

.linkBox256, .linkBox128{
	> :first-child { float: left; margin-right: @wcfGapMedium; margin-bottom: @wcfGapMedium;}
	> .newsText {text-align: justify;}
	> .newsTeaser {text-align: justify;}
}
